.form{
    width: 100%;
    padding: 20px 25px;
}
.input {
    margin: 20px 0;
}
.resultContainer {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.51);
    border-radius: 10px;
    text-align: center;
}
.resultContainer h1 {
    padding: 10px;
}
.resultContainer div {
    padding: 5px;
}
.resultContainer span{
    font-weight: bold;
    font-size: 19px;
}